.navbar-brand{
    font-family: 'Nabla', cursive;
}

.navbar{
    background-color: #212121;
}

.card i{
    cursor: pointer;
}

.text-anim, input{
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-notes{
    position: relative;
}

.cursor-effect{
    height: 100%;
    border-right: 1px solid white;
}

.no-notes .hide{
    display: none;
}

.disclaimer{
    display:block;
    margin-top: 3px;
    position: absolute;
    font-size: small;
    color: rgb(253, 108, 108);
}

form .hide{
    display: none;
}

.cursor{
    height: 100%;
    border-right: 1px solid white;
    animation: blink 1s infinite steps(1);
}
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  